//阿里图标库
.icon{
   width: 100%; height: 100%;
   vertical-align: -0.16em;
   fill: currentColor;
   overflow: hidden;
}

html{
    font-size:32px;
}
@for $i from 6 through 36{
    .size#{$i*2}{font-size:#{$i*2}px!important;}
}
.size80{
    font-size:80px;
}
.bold {
    font-weight: bold;
}
.del{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline;
}
.decorationNone{
    text-decoration: none;
}
.letter-spacing{
    letter-spacing: 4px;
}



//强制一行
.text-nowrap{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    // width:100%;
}

//竖文字
.wmr{
    writing-mode: vertical-rl;
}


.base-menu-icon{
  width: 100%;
  height: 100%;
}
//强制一行
.text-nowrap-one{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

//强制二行
.text-nowrap-two{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

//强制三行
.text-nowrap-three{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}


//强制换行
.break-word{
    word-wrap: break-word;
}





